@model             IEnumerable<RetroWars.Web.ViewModels.Poll.PollViewModel>
@{
    ViewData["Title"] = "All Polls";
}


<div class="container mx-auto mt-4">
    
    <a class=" text-success btn-warning btn m-5" asp-area="" asp-controller="Poll" asp-action="Create">Create_Poll</a>
    <div class="row">
        @if (Model.Any())
        {
            @foreach (RetroWars.Web.ViewModels.Poll.PollViewModel viewModel in Model)
            {
            <div class="row mb-5">
                    @await Html.PartialAsync("_PollCardPartial", viewModel)
                </div>
            }
        }
        else
        {
            <h5>No polls added to RetroWars.</h5>
        }

    </div>
    
</div>
