@model X.PagedList.IPagedList<ForumThreadViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "All Threads";
    bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

<div class="container mx-auto mt-4">
    <h1>Welcome to RetroWars forum</h1>
    <div><h2 style="color:#FF01FF">Cat /All threads</h2></div>
    @if (isAuthenticated)
    {
        <a class=" text-warning btn btn-secondary m-5" asp-area="" asp-controller="ForumThread" asp-action="Add">Add_Thread</a>
    }
    <div class="row">

        @if (Model.Any())
        {
            @foreach (ForumThreadViewModel viewModel in Model)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_ForumThreadCardPartial", viewModel)
                </div>
            }
        }
        else
        {
            <h5>No threads in the RetroWars forum.</h5>
        }


    </div>
    <div class="row">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    @Html.PagedListPager( Model, page => Url.Action("All", new { page }) )
</div>
<br />

