@{
    ViewData["Title"] = "404 Error";
}
<div class="d-flex flex-column">
<h1 class="text-danger">Error 404.</h1>
<h2 class="text-danger">Page not found.</h2>
<img  src="~/404.webp"/>
<br /><br />
<a asp-controller="Home" asp-action="Index">cd /Home </a>
</div>