@{
    ViewData["Title"] = "401 Error";
}
<div class="d-flex flex-column">
<h1 class="text-danger">Error 401.</h1>
<h2 class="text-danger">Access denied, Sayonara!</h2>
<img  src="~/401.jpg"/>
<br /><br />
<a asp-controller="Home" asp-action="Index">cd /Home </a>
</div>