@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="w-50 rounded-3" src="~/home-image.jpg"/>
    <h1 class="display-4">Bienvenidos a Retro wars</h1>
    <h3>A safe haven for retro game enthusiasts.</h3>
</div>
