@model SearchFormModel

<form method="post" asp-controller="Game" asp-action="Search" asp-area="">

    <input asp-for="Query" type="text"  />
    <button class="btn btn-info" type="submit">Search</button>
</form>