@model IEnumerable<GenreAdminViewModel>
@using static RetroWars.Common.GeneralApplicationConstants;

<table class="table table-striped table-dark">
    <thead>
        <tr>
          
            <th scope="col">Name</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr scope="row" class="table-striped">
                <td>@genre.Name</td>


                <td><a class="text-danger btn" asp-area="@AdminAreaName" asp-controller="Genre" asp-action="Delete" asp-route-id="@genre.Id">Delete</a></td>
                
            </tr>

        }
    </tbody>
</table>