@model IEnumerable<GameViewModel>
@{
    ViewData["Title"] = "Games All";
}


<div class="container mx-auto mt-4">
    <div class="row">
        <div class="col-md-4">
            @if (Model.Any())
            {
                @foreach (GameViewModel gmv in Model)
                {
                    @await Html.PartialAsync("_GameCardPartial", gmv)
                }
            }
            else
            {
                <h5>No games added to RetroWars.</h5>
            }

        </div>
    </div>
</div>
