@model GameFormModel
@using static RetroWars.Common.GeneralApplicationConstants.GameFormPartialModes
@{
    ViewData["Title"] = "Delete page";
    ViewData["Action"] = DeleteMode;
}

<h2>$ Sudo Delete Game </h2>

@await Html.PartialAsync("_GameFormPartial", Model)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}