@model GameFormModel
@using static RetroWars.Common.GeneralApplicationConstants.GameFormPartialModes
@{
    ViewData["Title"] = "Edit page";
    ViewData["Action"] = EditMode;
}

<h2>$ Sudo Edit Game Info</h2>

@await Html.PartialAsync("_GameFormPartial", Model)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}